version: '3.8'

services:
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6380:6379" # Hosting on 6380 to avoid local collision
    networks:
      - app-network

  api-server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongodb
      - redis
    networks:
      - app-network

  background-worker:
    build: ./server
    command: [ "npx", "ts-node", "workers/refundWorker.ts" ]
    env_file:
      - ./server/.env
    depends_on:
      - mongodb
      - redis
    networks:
      - app-network

  frontend:
    build:
      context: ./client
      args:
        NEXT_PUBLIC_API_URL: http://localhost:5000/api/v1
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://api-server:5000/api/v1
    depends_on:
      - api-server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data:
