version: '3.8'

services:
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6380:6379" # Hosting on 6380 to avoid local collision
    networks:
      - app-network

  api-server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongodb:27017/ecom
      - REDIS_URI=redis://redis:6379
      - JWT_SECRET=thisisasecretkey
      - CLIENT_URL=http://localhost:3000
    depends_on:
      - mongodb
      - redis
    env_file:
      - ./server/.env
    networks:
      - app-network

  background-worker:
    build: ./server
    command: ["npx", "ts-node", "workers/refundWorker.ts"]
    environment:
      - MONGO_URI=mongodb://mongodb:27017/ecom
      - REDIS_URI=redis://redis:6379
    depends_on:
      - mongodb
      - redis
    networks:
      - app-network

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5000/api
    depends_on:
      - api-server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data:
