version: '3.8'

services:
  api-server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    networks:
      - app-network

  background-worker:
    build: ./server
    command: [ "npx", "ts-node", "workers/refundWorker.ts" ]
    env_file:
      - ./server/.env
    networks:
      - app-network

  frontend:
    build:
      context: ./client
      args:
        NEXT_PUBLIC_API_URL: http://0.0.0.0:5000/api/v1
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://api-server:5000/api/v1
    depends_on:
      - api-server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
